.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 20px 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(205, 209, 208, 1);
  }
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .navbar li {
    margin: 0 20px;
    position: relative;
  }
  .navbar li.active {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: Palatino Linotype, sans-serif;
    color: black;
    border-bottom: 2px solid black;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: Palatino Linotype, sans-serif;
    color: black;
  }
  .navbar a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: black;
      transition: width 0.3s ease;
  }
  .navbar a:hover::after {
      width: 100%;
    }
    
    .navbar a:hover {
      color: #06141b;
    }
  .entry-title{
      font-family: Palatino Linotype, sans-serif;
      color: white;
      text-align: center;
      font-size: 40px;
      padding:80px;
      
  }
  
  body {
    padding-top: 100px;
    background-color: aliceblue;
    background: url('./Homepage/BgImg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding:0;
    width:100%;
  }
  .heading {
    font-family: footlight mt light, sans-serif;
    color: white;
    text-align: center;
    opacity: 0;
    font-size: 90px;
    padding: 190px;
    animation: fadeIn 3s ease-in-out forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px;
    
    
  }
  .profile-container p{
      white-space:normal;
      overflow:hidden;
      text-overflow:ellipsis;
      text-align: justify;
      width: 100%;
      padding-right: 160px;
      margin-bottom: 300px;
  }
  .text-container p{
      text-align: justify;
      margin: 0 0 20px 0;
  }
  
  .u-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
  }
  .text-container a:link, .text-container:visited, .text-container a:hover, .text-container a:active {
      
      color: white;
  }
  .image-row {
     
      display: flex;
      justify-content: space-around; 
      gap: 0px; 
      margin: 20px 0;  
    }
    
    .image-container {
      margin-top: 200px;
      position: relative;
     
      border: 10px solid #cdd1d0;  
      border-bottom: 50px solid #cdd1d0;
      overflow: hidden;
    width: 250px;
    height: 250px;
    box-sizing: content-box;
    transition: transform 0.3s ease;
     
      
      
    }
    
    .border-text {
      position: absolute;
      bottom: -10px; 
      left: 50%;
      transform: translateX(-50%);  
      font-size: 18px;  
      color: black; 
      font-weight: bold;  
      text-transform: uppercase; 
      pointer-events: none;
      z-index: 10;
      
  }
    
    .rectangular-image {
      display: block;
      width: 250px;  
      height: 250px;  
      object-fit:cover;
    }
    
    .image-container:hover {
      transform: scale(1.03); /* subtle zoom effect on the container */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }
  
  
  .footer-nav {
      margin-top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(205, 209, 208, 1);
    padding: 10px 0;
    z-index: 1000;
    
  }
  .footer-nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }
    .footer-nav {
      margin: 0 20px;
      position: relative;
    }
    .footer-nav li.active {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: bold;
      transition: color 0.3s ease;
      font-family: Palatino Linotype, sans-serif;
      color: black;
      border-bottom: 2px solid black;
    }
    
    .footer-nav {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: bold;
      transition: color 0.3s ease;
      font-family: Palatino Linotype, sans-serif;
      color: black;
    }
    .footer-nav::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: black;
        transition: width 0.3s ease;
    }
    .footer-nav a:hover::after {
        width: 100%;
      }
      
      .footer-nav :hover {
        color: #06141b;
      }
  
  
  
  
  