.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 20px 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(205, 209, 208, 1);
  }
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .navbar li {
    margin: 0 20px;
    position: relative;
  }
  .navbar li.active {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: Palatino Linotype, sans-serif;
    color: black;
    border-bottom: 2px solid black;
  }
  
  .navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
    font-family: Palatino Linotype, sans-serif;
    color: black;
  }
  .navbar a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: black;
      transition: width 0.3s ease;
  }
  .navbar a:hover::after {
      width: 100%;
    }
    
    .navbar a:hover {
      color: #06141b;
    }
    body{
        background: url ("../Homepage/BgImg.jpg") no-repeat ;
    }